body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #353535;
  color: floralwhite;
}

#container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

#input_form {
  flex: 1;
  margin-right: 20px;
}

#equation_submit {
  display: flex;
  align-items: center;
}

#eq_input {
  flex: 1;
  border-radius: 12px;
  background-color: #f1f1f1;
  border: 1px solid transparent;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

#eq_submit {
  background-color: orange;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}

#ops {
  display: flex;
  align-items: center;
}

#options {
  margin-top: 10px;
}

.title {
  margin: auto;
  width: 30%;
}

.mathjax {
  margin-top: 20px;
  font-size: 2em;
}

#results {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

#graph_view {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Updated */
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
}

#graph {
  width: 500px;
  height: 500px;
}

#graph_options {
  position: absolute;
  right: 0; /* Updated */
  top: 0; /* Updated */
  list-style-type: none;
  padding: 0;
  vertical-align: top;
}

#graph_overlay {
  display: none;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1; /* Added */
}

#graph_overlay_text {
  display: none;
  font-size: 1.3em;
  vertical-align: middle;
}

.error {
  color: #c70039;
  font-size: 1.3em;
}

.option_in {
  width: 50px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #c70039;
}
